.cls_1, .cls_3 {
  fill: #fff;
}

.cls_1, .cls_2, .cls_3 {
  stroke: #000;
  stroke-miterlimit: 10;
}

.cls_1 {
  stroke-width: 1.17px;
}

.cls_2 {
  fill: none;
  stroke-linecap: round;
  stroke-width: 7.46px;
}

.cls_3 {
  stroke-width: 1.06px;
}
