.cls-1, .cls-3 {
  fill: #fff;
}

.cls-1, .cls-2, .cls-3 {
  stroke: #000;
  stroke-miterlimit: 10;
}

.cls-1 {
  stroke-width: 1.17px;
}

.cls-2 {
  fill: none;
  stroke-linecap: round;
  stroke-width: 7.46px;
}

.cls-3 {
  stroke-width: 1.06px;
}
