.container {
  width: 100%;
  margin-top: -30vw;
  position: relative;
  bottom: -10px;
}


.white {
  fill: #ffffff;
}

.cls1 {
  fill: #feebd2;
}

.cls2 {
  fill: #2f67f4;
}

.cls3 {
  fill: #f86192;
}

.cls4 {
  fill: #0a24f7;
}

.cls5 {
  fill: #ffed77;
}

.cls6 {
  fill: #231f20;
}

.cls7 {
  fill: #fff5f9;
}

.cls8 {
  fill: #f93d6e;
}
