@import '../../global/scss/variables';
@import '../../global/scss/mixins';

.site-header {
  background:transparent;
  margin-bottom: 1.45rem;

  &__inner {
    margin: 0 auto;
    padding: 1.45rem 1.0875rem;
  }

  &__heading {
    display: block;
    margin: 0px;
  }

  &__link {
    margin-bottom: 30px;
    color: color(base, pumping-mint);
    text-shadow: 0px 3px 0px #0076B6; //#00a6ff;
    text-decoration: none;
    font-size: 60px;
  }

  // &__navigation {
  //   color: color(base, pumping-mint);
  //   text-decoration: none;
  // }
}
