@import '../../global/scss/variables';
@import '../../global/scss/mixins';

.container {
  display: grid;
  grid-template-columns: [start] repeat(16, 1fr [column]) [end];
  grid-template-rows: [start] repeat(2, minmax(0px, max-content) [row]) [end];
  grid-gap: 40px;
  align-items: center;
  width: 100%;
  padding: 300px 20px;

  
  @include breakpoint(500) {
    padding: 100px 60px;
  }
}

.content {
  text-align: left;
  grid-column: start / 10;
  grid-row: 1;
  padding: 30px;

  &__heading{
    font-size: 40px;
    color: color(base, midnight-blue);
    line-height: 1;
    font-weight: 300;
  
    @include breakpoint(600){
      font-size: 50px;
    }
  }
}

.img {
  &__one {
    grid-column: 10 / end;
    grid-row: 1;
    align-self: end;
    justify-self: end;
  }

  &__two {
    grid-column: 9 / end;
    grid-row: 2;
    align-self: center;
  }
  
  &__three {
    grid-column: start / 9;
    grid-row: 2;
    align-self: center;
  }
}
