.site-navigation {
  // float: right;
  // display: flex;
  // align-items: center;
  // justify-content: flex-start;

  display: block;
  height: 100%;
  list-style: none;

  &__list {
    margin: 0px;
  }

  &__item {
    display: block;
    margin-right: 1em;
    margin-bottom: 0px;
    color: #0076B6;
    text-decoration: none;
    font-size: 24px;

    &:last-child {
      margin-right: 0px;
    }
  }
}
