@import '../../global/scss/variables';
@import '../../global/scss/mixins';

.container {
  display: block;
  margin-bottom: 100px;

  @include breakpoint(500) {
    padding: 0 60px;
  }

  @include breakpoint(900) {
    display: grid;
    grid-template-columns: [start] repeat(16, 1fr [column]) [end];
    grid-template-rows: [start] repeat(16, minmax(0px, max-content) [row]) [end];
    grid-auto-flow: dense;
    grid-gap: 40px;
    width: 100%;
    margin-bottom: 0;
    padding: 100px 20px;
  }

  @include breakpoint(1200) {
    padding: 100px 60px;
  }
}

.content {
  grid-row: 1 / row 6;
  margin-bottom: $margin;
  padding: 0 20px;

  @include breakpoint(900) {
    grid-column: start / column 7;
    margin-bottom: 0;
    padding: 0 30px;
    text-align: right;
  }

  @include breakpoint(1200) {
    grid-column: start / column 6;
    grid-row: 1 / row 10;
    padding: 30px;
  }

  &__heading{
    font-size: 40px;
    color: color(base, midnight-blue);
    line-height: 1;
    font-weight: 300;
  
    @include breakpoint(600){
      font-size: 50px;
    }
  }
}

.img {
  width: 100%;
  margin-bottom: $margin;

  @include breakpoint(900) {
    margin-bottom: 0;
  }

  &__one {
    @include breakpoint(900) {
      grid-column: 8 / column 16;
      grid-row: 1 / 6;
    }

    @include breakpoint(1200) {
      grid-column: start / column 6;
      grid-row: 9 / 16;
      align-self: end;
      justify-self: end;
    }

    @include breakpoint(1500) {
      grid-row: 7 / row 12;
    }
  }

  &__two {

    @include breakpoint(900) {
      grid-column: 8 / column 16;
      grid-row: 6 / 12;
    }

    @include breakpoint(1200) {
      grid-column: 7 / column 16;
      grid-row: 1 / span 8;
    }
  }
  
  &__three {

    @include breakpoint(900) {
      grid-column: 8 / column 16;
      grid-row: 12 /  16;
    }

    @include breakpoint(1200) {
      grid-column: 7 / end;
      grid-row: row 8 / row 16;
    }
  }
}
